{% extends 'Radius/home.html' %}

{% block content %}

<style>
table, th, td {
  border: 1px solid gainsboro;
} 
th { width: 150;}

</style>


<h1>Show authenticator</h1>

<table border="1">
  <tr>
 	<th>ID</th>
    <th>IP/Nasname</th>
    <th>Shortname</th>
    <th>Type</th>
    <th>Ports</th>
    <th>Secret</th>
    <th>Server</th>
    <th>Community</th>
    <th>Description</th>
  </tr>
{% for entry in Nas %}
			<tr>
				
				<td>	{{ entry.id }}			</td>
				<td>	{{ entry.nasname }}		</td>
    			<td>	{{ entry.shortname }}	</td>
    			<td>	{{ entry.type }}		</td>
    			<td>	{{ entry.ports }}		</td>
 <!--   		<td>	{{ entry.secret }}		</td>	-->
    			<td>	******		</td>
    			<td>	{{ entry.server }}		</td>
    			<td>	{{ entry.community }}	</td>
    			<td>	{{ entry.description }}	</td>
				
			</tr>
{% endfor %} 
</table>

	<form method="POST">
		{% csrf_token %}
		
			<fieldset class="form-group">	
			
<!--	{% for entry in form %} 		-->
			<table>
				{{ entry.label_tag }} <p class="tab"> {{ entry }} </p><br>
			</table
<!--	{% endfor %}		  -->	
			</fieldset>
			
		<div class="form-group">
		<button class="btn btn-outline-info" type="submit">delete</button>
		</div>
		
	</form>

{% endblock %}




