<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
       "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Navigation</title>
<link rel="stylesheet" href="style_menu.css">
</head>
<body bgcolor="#9090FF" text="#ffffff" link="#ffffff" vlink="#ffffff" alink="#804080">

<h1>MENU</h1>
<div class="container">
<div class="menu">
<p>
<a href="EndbenutzerAnlegen.html" target="Daten"><b>Endbenutzer anlegen</b></a><br>
<a href="EndbenutzerAnzeigen.html" target="Daten"><b>Endbenutzer anzeigen</b></a><br>
<a href="EndgeraetAnlegen.html" target="Daten"><b>Endgerät anlegen</b></a>
<a href="EndgeraetAnzeigen.html" target="Daten"><b>Endgerät anzeigen</b></a>
</p>
</div>
</div>
</body>
</html>
